* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0pt;
    border: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: white;
    background-color: black;
}

.playground {
    position: absolute;
    left: 100px;
    top: 50px;
    background-color: black;
}

.nextblock {
    margin: 5pt;
}


.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: black;
    position: absolute;
    left: 390px;
    top: 50px;
    width: 220px;
    height: 525px;
    padding-left: 10px;
}

.arrow-left {
    position: absolute;
    left: 416px;
    top: 255px;
    border: 2px solid green;
}

.arrow-right {
    position: absolute;
    left: 473px;
    top: 255px;
    border: 2px solid green;
}

.arrow-up {
    position: absolute;
    left: 445px;
    top: 210px;
    border: 2px solid green;
}

.arrow-down {
    position: absolute;
    left: 445px;
    top: 300px;
    border: 2px solid green;
}

.gameover {
    position: absolute;
    left: 160px;
    top: 230px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    z-index: 1;
    background-color: black;
    padding: 10pt;
}

.newgame {
    position: absolute;
    left: 400px;
    top: 360px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    z-index: 1;
    background-color: black;
    color: lightgreen;
    border: 2px solid lightgreen;
    padding: 10pt;
}

.button {
    background-color: blue;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 18pt;
    margin-top: 5pt;
    margin-right: 10pt;
    padding: 5pt;
}

    .button:hover {
        background-color: #008CBA;
        color: darkblue;
    }

.remainingInfo {
    margin-top:50pt;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
}