* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
    margin: 0pt;
    border: none;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: white;
    background-color: black;
}

.playground {
    position: absolute;
    left: 100px;
    top: 0px;
    background-color: black;
}

.nextblock {
    margin: 5pt;
}

.info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: black;
    position: absolute;
    left: 390px;
    top: 0px;
    width: 220px;
    height: 525px;
    padding-left: 10px;
}

.statistics {
    position: absolute;
    left: 400px;
    top: 350px;
    height: 178px;
    width: 120px;
}

.arrow-left {
    position: absolute;
    left: 416px;
    top: 205px;
    border: 2px solid green;
}

.arrow-right {
    position: absolute;
    left: 473px;
    top: 205px;
    border: 2px solid green;
}

.arrow-up {
    position: absolute;
    left: 445px;
    top: 160px;
    border: 2px solid green;
}

.arrow-down {
    position: absolute;
    left: 445px;
    top: 250px;
    border: 2px solid green;
}

.gameover {
    position: absolute;
    left: 160px;
    top: 23px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    z-index: 1;
    background-color: black;
    padding: 10pt;
    height: 60px;
}

.newgame {
    position: absolute;
    left: 400px;
    top: 305px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    z-index: 1;
    background-color: black;
    color: lightgreen;
    border: 2px solid lightgreen;
    padding: 10pt;
}

.button {
    background-color: blue;
    border: 2px solid #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 18pt;
    margin-top: 5pt;
    margin-right: 10pt;
    padding: 5pt;
}

    .button:hover {
        background-color: #008CBA;
        color: darkblue;
    }

.remainingInfo {
    margin-top:50pt;
    color: white;
}

.highscores {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    background-color: black;
    position: absolute;
    left: 140px;
    top: 100px;
    width: 198px;
    height: 230px;
    padding: 10px;
}

input {
    font-size: 18pt;
    margin-top: 10pt;
}

.addhighscore {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    background-color: black;
    position: absolute;
    left: 150px;
    top: 100px;
    width: 198px;
    height: 100px;
    padding-left: 10px;
    z-index: 3;
}

.copyright {
    position: absolute;
    left: 100px;
    top: 530px;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
}

a {
    color: lightgreen;
}

@media (max-width: 480px) {

    .button {
        font-size: 11pt;
    }

    body {
        font-size: 11pt;
    }

    .playground {
        left: 10px;
    }

    .info {
        left: 230px;
        top: 0px;
        width: 100px;
        height: 160px;
        padding-left: 0px;
        font-size: 11pt;
    }

    .statistics {
        left: 230px;
        top: 280px;
        height: 116px;
        width: 100px;
    }

    .arrow-left {
        left: 230px;
        top: 155px;
        border: 2px solid green;
    }

    .arrow-right {
        left: 287px;
        top: 155px;
        border: 2px solid green;
    }

    .arrow-up {
        left: 258px;
        top: 110px;
        border: 2px solid green;
    }

    .arrow-down {
        left: 258px;
        top: 200px;
        border: 2px solid green;
    }

    .gameover {
        left: 30px;
        top: 18px;
        padding: 5pt;
    }

    .newgame {
        left: 230px;
        top: 257px;
        padding: 10pt;
    }

    .remainingInfo {
        margin-top: 60pt;
    }

    .highscores {
        font-size: 11pt;
        left: 30px;
        top: 90px;
        width: 170px;
        height: 230px;
        padding: 2px;
    }
    
    input {
        font-size: 11pt;
    }
    
    .addhighscore {
        left: 50px;
        top: 90px;
        width: 130px;
        height: 100px;
    }
    
    .copyright {
        left: 10px;
        top: 400px;
        font-size: 6pt;
    }
    
}
